---
node_exporter_archive_url: https://github.com/prometheus/node_exporter/releases/download/{{ node_exporter_release.json.tag_name }}/node_exporter-{{ node_exporter_release.json.tag_name | regex_replace('v(.*)', '\\1') }}.linux-amd64.tar.gz
node_exporter_user: prometheus_metrics
