---

- name: Create project folder according to Lab guide
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/aci_automation"
    state: directory
    mode: "0755"

- name: Create directory structure according to Lab guide
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/aci_automation/{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - host_vars/sandboxapicdc.cisco.com
    - roles/apic/tasks

- name: Copy inventory file for project exercise to designated directory structure
  ansible.builtin.copy:
    src: aci_inventory.ini
    dest: "{{ ansible_user_dir }}/aci_automation/inventory.ini"
    mode: "0644"

- name: Copy all other files for project exercise to designated directory structure
  ansible.builtin.copy:
    src: "{{ item.file }}"
    dest: "{{ ansible_user_dir }}/aci_automation/{{ item.dest }}"
    mode: "0644"
  loop:
    - file: sandbox_apic_vars.yml
      dest: host_vars/sandboxapicdc.cisco.com/connection.yml
    - file: aci_vault.yml
      dest: host_vars/sandboxapicdc.cisco.com/vault.yml
    - file: aci_playbook.yml
      dest: aci_automation.yml
    - file: aci_tasks.yml
      dest: roles/apic/tasks/main.yml
    - file: aci_tenant.yml
      dest: roles/apic/tasks/tenant.yml
    - file: aci_application_profile.yml
      dest: roles/apic/tasks/application_profile.yml
    - file: aci_epgs.yml
      dest: roles/apic/tasks/epgs.yml
    - file: aci_contracts.yml
      dest: roles/apic/tasks/contracts.yml
  loop_control:
    label: "{{ item.dest }}"
